body{
    font-family:Arial, sans.serif;
margin: 0;
padding: 20px;
background-image:url("https://cz.pinterest.com/pin/972073900853665789/");
}
h1 {
    color: #0066cc;
}

p{
    color: #5400ff;
}
.T {
    color: #5502rr;
}
